# {{ edit_warning }}

all: {{ all|join(' ') }}

{% for cluster in clusters %}
{{ cluster.target }}: {{ cluster.depends|join(' ') }}
{% endfor %}

{% for elem in make -%}
{% if elem.dest|length > 0 -%}
{{ elem.dest|join(' ') }}: {{ elem.src|join(' ') }} {{ elem.depends|join(' ') }}
	@echo "$$( tput bold )$$( tput setaf 6 )Running $< ...$$( tput sgr0 )"
	time {{ elem.task }}
{% endif %}
{% endfor -%}

{# vim: set ft=make :#}
