// {{ edit_warning }}

digraph {
  node [shape = box]
  splines = "ortho"
  overlap = false
  //rankdir = LR
  ranksep = 1.0
  nodesep = 0.5

  {% for file in files -%}
  {% if file.clusters|length == 1 -%}
  subgraph cluster_{{ file.clusters[0]|replace(' ', '_') }} {
    label="{{ file.clusters[0] }}";
    style=filled;
    color=lightgrey;
  {% endif -%}
  {{ file.basename }}

  {% for var in file.saves -%}
  {{ var }} [shape = folder, style = filled, fillcolor = "/pastel19/2"]
  {% endfor -%}
  {% for var in file.depends -%}
  {{ var }} [shape = box, style = filled, fillcolor = "/pastel19/3"]
  {% endfor -%}
  {% for var in file.R_deps -%}
  {{ var }} [shape = box, style = filled, fillcolor = "/pastel19/4"]
  {% endfor -%}

  {% if file.clusters|length == 1 -%}
  }
  {% endif -%}

  {% for var in file.loads -%}
  {{ var }} [shape = folder, style = filled, fillcolor = "/pastel19/2"]
  {% endfor -%}
  {% endfor -%}

  {% for file in files -%}
  { {{ file.loads_depends|join(', ') }} } -> {{ file.basename }} -> { {{ file.saves|join(', ') }} }
  { {{ file.R_deps|join(', ') }} } -> {{ file.basename }}
  {% endfor -%}

  {%- for file in rmds %}
  {{ file.basename }} [shape = note, style = filled, fillcolor = "/pastel19/6"]
  { {{ file.loads|join(', ') }} } -> {{ file.basename }}
  { {{ file.R_deps|join(', ') }} } -> {{ file.basename }}
  {%- endfor %}
}

{# vim: set ai ft=jinja sts=2 sw=2 :#}
