// {{ edit_warning }}

digraph {
  node [shape = box]
  splines = "ortho"
  overlap = false
  //rankdir = LR
  ranksep = 1.0
  nodesep = 0.5

  {% for file in files -%}
  "{{ file.basename }}"

  {% for var in file.loads -%}
  {{ var }} [shape = folder, style = filled, fillcolor = "/pastel19/2"]
  {% endfor -%}
  {% for var in file.saves -%}
  {{ var }} [shape = folder, style = filled, fillcolor = "/pastel19/2"]
  {% endfor -%}
  {% endfor -%}

  {% for file in files -%}
  { {{ file.loads|join(', ') }} } -> "{{ file.basename }}" -> { {{ file.saves|join(', ') }} }
  {% endfor -%}

  {%- for file in rmds %}
  "{{ file.basename }}" [shape = note, style = filled, fillcolor = "/pastel19/6"]
  { {{ file.loads|join(', ') }} } -> "{{ file.basename }}"
  {%- endfor %}
}

{# vim: set ai ft=jinja sts=2 sw=2 :#}
